<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">우리는 셀폰을 서비스하는 <img  width='180px'  src="img/logos/logo.png"> 입니다</h2>
                    <br>
                    <h3 class="section-subheading text-muted"><b> <img  width='100px'  src="img/logos/logo.png"></b> 회사는 증권회사 출신의 입사동기 3명이서 창업한 회사입니다<br><br>
세 친구 중 한명인 박상권 공동창업자는 취미로 휴대폰을 300개 이상을 매매해왔습니다.<br>

지인이 손해를 보고 전화기를 팔까 싶으면 박 창업자는 대신 팔아주기도 하며 친구들 사이에선 유명한 휴대폰 매매업자로 통했습니다.<br>
하지만 자신이 직접 매입업체를 찾아다니며 휴대폰을 팔면서 느낀 불편함은 한두 가지가 아니었습니다.<br>
개인 대 업체의 거래이다 보니 가격 설정과 물건 상태 모두가 중구난방인 형국임을 느꼈습니다.<br>

이 아이템으로 우리가 앱을 만들면 같은 불편함을 호소하는 이들에게 도움을 줄 수 있을 것 같았습니다.<br>
이날의 모임은 증권회사에서 3명의 직원이 퇴사를 결심하는 날이었습니다.<br><br>

<a href='http://www.gukjenews.com/news/articleView.html?idxno=217088' target="_blank"><b>기사 더보기</b></a><br>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014.08</h4>
                                    <h4 class="subheading">플레이스토어 앱 출시</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014.08</h4>
                                    <h4 class="subheading">SK플래닛 창업경진대회 대상</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">SK플래닛에서 3개월간 진행한 [인사이더2014]프로그램 입니다.<br>
                                     13대 1이라는 치열한 경쟁률을 뚫고 선정된 10팀의 오픈 IR과 모의 투자 대회가 진행되었습니다.<br>

<a href='https://oic.skplanet.com/front/centernews/viewCenterNews.action?seq=371' target="_blank"><b>더보기</b></a><br>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014.10</h4>
                                    <h4 class="subheading">스타트업 토크쇼 '쫄지말고투자하라'출연</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">현역 벤처투자자인 Capstone Partners 송은강 대표, IDG Ventures Korea 이희우 대표가 스타트업 창업자를 만나 회사의 성장 가능성과 투자 가능성을 직접 상담합니다.<br>
                                     출연 스타트업의 사업내용과 벤처캐피탈의 시각을 모두 경험해 볼 수 있는 국내 유일 스타트업 진단방송입니다.<br>
                                     <a href='https://www.youtube.com/watch?v=wrj0B0IbaAM' target="_blank"><b>방송보기</b></a><br>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014.10</h4>
                                    <h4 class="subheading">대한민국 창업리그 전국 TOP30 선정</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">대한민국 창업리그는 ’07년부터 운영된 국내 최대 규모·최고 권위의 창업경진대회로 전국의 창업경진대회에서 선발된 최우수 수상자를 전국 본선에 추천하는 방식으로 진행됩니다.<br>

                                    </p>
                                </div>
                            </div>
                        </li>


 <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014.11</h4>
                                    <h4 class="subheading">트라이앵글 토크콘서트 오픈IR 우수상</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">두 달간 진행된 트라이앵글 토크 콘서트는 지역 간 창업 생태계 불균형 해소를 통해 창조경제 활성화에 기여하고 있는 SK플래닛의 동반성장 프로그램입니다.<br>
 <a href='https://oic.skplanet.com/front/centernews/viewCenterNews.action?seq=381' target="_blank"><b>더보기</b></a><br>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014.12</h4>
                                    <h4 class="subheading">앱 10만 다운로드 달성</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">앱출시 100일만에 플레이스토어 10만다운로드를 달성하였습니다.<br>

                                    </p>
                                </div>
                            </div>
                        </li>




                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015.01</h4>
                                    <h4 class="subheading">SK플래닛 101스타트업 코리아 3기 선정</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    SK플래닛의 대표 스타트업 프로그램 '101스타트업 코리아'<br>
                                    이번 3기는 약 30여명의 심사위원이 3번의 심사를 거쳐 총 10팀이 선정되었습니다.<br>
                                    12대 1의 경쟁률을 뚷고 선정된 3기가  처음으로 모인 부트캠프에서 한 스타트업은 각 팀의 발표를 들으며 "이곳은 오션스 일레븐 같다."라는 평을 남겼습니다.<br>
                                     <a href='https://oic.skplanet.com/front/centernews/viewCenterNews.action?seq=383' target="_blank"><b>더보기</b></a><br>
                                    </p>
                                </div>
                            </div>
                        </li>


                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/8.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015.03</h4>
                                    <h4 class="subheading">TIPS운용사 '엔텔스'로부터 투자유치</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    <br>
                                    </p>
                                </div>
                            </div>
                        </li>



                     <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/9.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2015.03</h4>
                                    <h4 class="subheading">서울 창업기업 투자설명회 수상</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    이 행사는 박원순 서울시장을 비롯해 여러 투자자와 예비창업가등이 참석한 행사였습니다.<br>
                                    실제 투자를 진행하는 형태로 기획된 이번 설명회에는 상위 5개팀만이 수상하는 영예를 안았습니다<br>
                                    <a href='http://www.venturesquare.net/578478' target="_blank"><b>더보기</b></a><br>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted" >
                            <div class="timeline-image" >
                                <h3>우리와<br>미래를
                                    <br>함께하세요!</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
	    <div class="container text-center">
	    	<a href="https://play.google.com/store/apps/details?id=kr.co.selphone"  target="_blank" class="btn btn-xl" ><i class="fa fa-download"> &nbsp;</i>앱 다운로드</a>
	    </div>
    </section>
