<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">셀폰 서비스를 소개합니다</h2>
                 <!--   <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                 <br>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">

                  <span class="fa-stack fa-4x">
                      <img width="100%" src="img/icon/ic_sell.png" />
                  </span>
                  <h4 class="service-heading">휴대폰 판매</h4>
                  <p class="text-muted">개인거래or매입업체 골라서<br>나의 중고폰을 판매할 수 있어요</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <img width="100%" src="img/icon/ic_buy.png" />
                    </span>
                    <h4 class="service-heading">휴대폰 구매</h4>
                    <p class="text-muted">개인 또는 매입업체에서 A급 중고폰을 살 수 있어요</p>
                </div>

                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                      <img width="100%" src="img/icon/ic_place.png" />
                    </span>
                    <h4 class="service-heading">위치 확인</h4>
                    <p class="text-muted">지도를 통해 내 주변에서 가까운<br>판매자, 업체를 볼 수 있어요</p>
                </div>

                     <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <img width="100%" src="img/icon/ic_money.png" />
                  </span>
                  <h4 class="service-heading">매입 가격</h4>
                  <p class="text-muted">판매하려는 중고폰/깨진액정을 검색해보세요<br>최저가~최고가를 한눈에 확인할 수 있어요</p>
              </div>
              <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <img width="100%" src="img/icon/ic_info.png" />
                  </span>
                  <h4 class="service-heading">업체 정보</h4>
                  <p class="text-muted">업체정보를 조회해서 홈페이지, 주소<br>전화번호 등의 다양한 정보를 살펴보세요</p>
              </div>

               <div class="col-md-4">
                  <span class="fa-stack fa-4x">
                    <img width="100%" src="img/icon/ic_chat.png" />
                  </span>
                  <h4 class="service-heading">실시간 상담</h4>
                  <p class="text-muted">매입업체 사장님, 판매자와 전화, 채팅을 통해서<br>좀 더 정확한 매입가격을 알아보세요</p>
              </div>

            </div>
        </div>
        <div class="container text-center">
	    	<a href="https://play.google.com/store/apps/details?id=kr.co.selphone"  target="_blank" class="btn btn-xl" ><i class="fa fa-download"> &nbsp;</i>앱 다운로드</a>
	    </div>
    </section>
