<!DOCTYPE html>
<meta charset="utf-8">
<html>
	<head>
	</head>
	<body data-ng-app="selphoneApp">
		<div data-ng-controller="loginKakaoCtrl">
			<button data-ng-click="aa()">aa??</button>
		</div>
	</body>
	<script src="../js/vendors/angular.min.js"></script>
	<script src="../js/app.js"></script>
	<script src="https://developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script src="../js/vendors/jquery.js"></script>
	<script>
	// Kakao.init('2f5fdf7b90ed0ca2e8dca0db960b1ffd'); // 팀장님키 키
	Kakao.init('7e5b0b4eef8e25ee8078f1c2f018b7c6'); // 내 키
	function loginWithKakao(callback) {
	  	Kakao.Auth.login({
		    success: function(authObj) {
		    	var data = {
			        "accessToken":authObj.access_token,
			        "type" : "kakao",
			        "regId" : "web"
		    	};
		    	console.log(' Kakao.Auth.login success', authObj);
			    $.ajax({
			        url: "http://54.178.140.51/login",
			        type : "post",
			        data : data,
			        crossDomain : true,
			        xhrFields: {withCredentials: true}, // 이게 세션 유지하는거
			        success: function(res) {
			          callback(true, res)
			        },
			        error: function(res) {
			          callback(false, res.responseText)
			          alert("로그인 실패"+res.responseText);
			        }
			    });
		    },
		    fail: function(err) {
		      console.log('fail');
		      alert(JSON.stringify(err))
		    }
	  	});
	};

	
	
// 	var app = angular.module('loginApp',[]);
	
	
	app.controller('loginKakaoCtrl', ['$scope', '$rootScope', function($scope, $rootScope){
		console.log('loginKakaoCtrl');
		loginWithKakao(function(isSuccess, result){
		    if(isSuccess){
			    console.log('loginWithKakao', result);
		    }else{
		        console.log('loginWithKakao error', result);
		    }
		});
	}]);
	
	

/*
	loginWithKakao(function(isSuccess, result){
	    if(isSuccess){
		    console.log('loginWithKakao', result);
	//         callback(result.result);
	    }else{
	        console.log('loginWithKakao error', result);
	    }
	});
*/

	</script>
</html>
